<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.potago"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Specify the correct minSDK and targetSDK versions. -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Google Maps related permissions -->

    <permission
        android:name="com.ecs.google.maps.v2.actionbarsherlock.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />

    <!-- Network connectivity permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Access Google based webservices -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBBl-FnZ71MEMY52zeOielmzhjQzWrNacI" />

        <activity
            android:name="com.example.potago.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.potago.ePotager"
            android:configChanges="orientation"
            android:label="@string/title_activity_accueil"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.potago.Geolocalisation"
            android:configChanges="orientation"
            android:label="@string/title_activity_geoloc"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.example.potago.profil.ImageListActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_geoloc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.potago.profil.ImagePagerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_geoloc"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.example.potago.InfosActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_infos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.potago.infos.EnCeMoment"
            android:label="@string/title_activity_en_ce_moment" >
        </activity>
        <activity
            android:name="com.example.potago.infos.CGU_Infos"
            android:label="@string/title_activity_cgu__infos" >
        </activity>
        <activity
            android:name="com.example.potago.profil.ProfilActivity"
            android:label="@string/titreProfil" >
        </activity>
        <activity
            android:name="com.example.potago.AffichageCommentaireActivity"
            android:label="@string/title_activity_affichage_commentaires" >
        </activity>
        <activity
            android:name="com.example.potago.Tchat"
            android:label="@string/title_activity_tchat" >
        </activity>
        <activity
            android:name="com.example.potago.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.potago.InscriptionActivity"
            android:label="@string/title_activity_inscription" >
        </activity>
        <activity
            android:name="com.example.potago.DialogConfirmationInscription"
            android:label="@string/title_activity_dialog_confirmation_inscription" >
        </activity>
    </application>

</manifest>